/* Fonts */
/* Primary Font - Google Fonts Manrope */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* Secondary Font - Google Fonts Licorice */
@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');


/* Global Variables*/
:root {
    --primary-font: "Manrope", sans-serif;
    --secondary-font: "Licorice", cursive;
}

/* General Styling Rules */
body {
    background-image: url(../images/eras-tour-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-color: #f4cb8d;
    font-family: var(--primary-font);
    padding-top: 10px;
}

.dissapear {
    display: none !important;
}

#website-opener {
    text-align: center;
    background-color: #f4cb8d;
    border: 2px solid #f4cb8d;
    padding-top: 10px;
    padding-bottom: 35px;
    margin-top: 75%;
    opacity: 80%;
    border-radius: 25px;

}

#website-opener a {
    text-decoration-line: none;
    color: black;
}

#welcome-line-1 {
    text-align: center;
    margin-top: -15px;
    font-size: 10px;
}

#welcome-line-2 {
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 32px;
    margin-top: -75px;
    font-weight: bold;
}

#one-liner p {
    margin-top: -30px;
}

#start {
    text-align: center;
}

#start-button {
    text-align: center;
    width: 75%;
    padding: 10px;
    border-radius: 25px;
    font-family: var(--primary-font);

}
#opening-instructions {
    background-color: #f4cb8d;
    text-align: center; 
    border: 2px solid #f4cb8d;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 40%;
    opacity: 80%;
    border-radius: 25px;
}

#opening-instructions h1 {
    font-family: var(--secondary-font);
    font-size: 50px;
    margin-top: -5px;
    margin-bottom: -11px;
    
}

#opening-instructions h2 {
    font-family: var(--secondary-font);
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: -10px;
}

#pick-button {
    width: 75%;
    padding: 10px;
    border-radius: 25px;
    font-family: var(--primary-font);
}

#choose-era h2 {
    font-family: var(--secondary-font);
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: -5px;
}

#pick-era {
    background-color: #f4cb8d;
    text-align: center; 
    border: 2px solid #f4cb8d;
    padding-bottom: 20px;
    opacity: 80%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 30%;
}

#pick-era button {
    width: 75%;
    padding: 10px;
    border-radius: 25px;
    font-family: var(--primary-font);
}

/* Era title Styling */
#show {
    padding-top: 10px;
    font-family: var(--secondary-font);
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: -5px;
    font-weight: bold;
}

/* Question Area Styling */
#quiz-space {
    text-align: center;
    background-color: #f4cb8d;
    opacity: 80%;
    border-radius: 25px;
    margin-top: 50%;

}

#question {
    font-size: 1.25rem;
    padding-left: 21px;
    padding-right: 21px;
}

#answer-space {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#answer-space button {
    width: 75%;
    padding: 10px;
    border-radius: 25px;
    font-family: var(--primary-font);
}

#score {
    margin-bottom: 5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-weight: bold;
}

#additional-buttons button {
    width: 30%;
    padding: 10px;
    border-radius: 25px;
    font-family: var(--primary-font);
    margin-left: 4px;
    margin-right: 4px;
}
/* Colour change to indicate correct answer */

.correct-answer {
    background-color: green;
    color: white;
}

/*Colour change to indicate incorrect answer */

.wrong-answer {
    background-color: red;
    color: white;
}