/* Fonts */
/* Primary Font - Google Fonts Manrope */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* Secondary Font - Google Fonts Licorice */
@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');


/* Global Variables*/
:root {
    --primary-font: "Manrope", sans-serif;
    --secondary-font: "Licorice", cursive;
}

/* General Styling Rules */
body {
    background-image: url(../images/eras-tour-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-color: #f4cb8d;
    font-family: var(--primary-font);
    padding-top: 10px;
    position: relative;
}

.disappear {
    display: none !important;
}

/* Logo styling - to only show after opening page */

#logo {
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 31px;
    font-weight: bold;
    padding-left: 6px;
    padding-top: 15px
}

.landing-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Website opener styling */

#website-opener {
    background-color: #f4cb8d;
    border: 2px solid #f4cb8d;
    padding: 2rem;
    border-radius: 25px;
    opacity: 0.9;
    text-align: center;
    max-width: 500px;
    margin: 0;
    width: 75%;
}

#website-opener h1 {
    text-align: center;
    font-size: 23px;
    font-family: var(--secondary-font);
}

#website-opener h2 {
    font-weight: normal;
    font-family: var(--primary-font);
}

#start {
    text-align: center;
}

#start-button {
    text-align: center;
    width: 75%;
    border-radius: 25px;
    font-family: var(--primary-font);
    font-size: 22px;
    padding: 10px;
}

#start-button:hover {
    background-color: #C5A3DA;
    color: black;
    border: 2px solid white;
}

/* Opening instructions styling */

#opening-instructions {
    background-color: #f4cb8d;
    text-align: center; 
    border: 2px solid #f4cb8d;
    padding-bottom: 5%;
    padding-top: 5%;
    margin-top: 1.5rem;
    opacity: 80%;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    margin-top: 4rem;
}

#opening-instructions h1 {
    font-family: var(--secondary-font);
    font-size: 50px;
    margin-top: -5px;
    margin-bottom: -11px;
}

#opening-instructions p {
    font-size: 15px;
    font-family: var(--primary-font);
}

#opening-instructions h2 {
    font-family: var(--secondary-font);
    font-size: 43px;
    margin-top: 10px;
    margin-bottom: -10px;
}

#pick-button {
    width: 81%;
    padding: 10px;
    border-radius: 25px;
    font-family: var(--primary-font);
    font-size: 15px;
}

#pick-button:hover {
    background-color: #C5A3DA;
    color: black;
    border: 2px solid white;
}

/* Choose era section styling */

#pick-era-wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    width: 100%;
    margin-top: -25px;
    /* Additional styling to ensure can be scrolled on mobile - suggestion by chat GPT */
    max-height: 461px;
    overflow-y: auto;
}

#pick-era {
    background-color: #f4cb8d;
    text-align: center; 
    border: 2px solid #f4cb8d;
    padding-bottom: 3%;
    opacity: 80%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    padding-top: 16px;
}

#pick-era h1 {
    font-family: var(--secondary-font);
    font-size: 43px;
    margin-top: 7px;
}

#pick-era button {
    width: 80%;
    border-radius: 25px;
    font-family: var(--primary-font);
    font-size: 13px;
    padding: 10px;
}

#pick-era button:hover {
    background-color: #C5A3DA;
    color: black;
    border: 2px solid white;
}

/* Era title Styling */
#show {
    padding-top: 1.5rem;
    font-family: var(--secondary-font);
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: -5px;
    font-weight: bold;
}

/* Question Area Styling */
#quiz-space {
    text-align: center;
    background-color: #f4cb8d;
    border: 2px solid #f4cb8d;
    opacity: 80%;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

#question {
    font-size: 1.4rem;
    padding-left: 21px;
    padding-right: 21px;
}

#answer-space {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#answer-space button {
    width: 92%;
    padding: 10px;
    border-radius: 25px;
    font-family: var(--primary-font);
    font-size: 19px;
}

#score {
    text-align: center;
    background-color: #f4cb8d;
    opacity: 80%;
    margin-bottom: 2.5rem;
    font-weight: bold;
    font-size: 1.5rem;
}

/* Final Score area styling */

 #final-score-space {
    text-align: center;
    background-color: #f4cb8d;
    border: 2px solid #f4cb8d;
    opacity: 80%;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2.5rem;
    width: 95%;
}

#final-score {
    font-family: var(--primary-font);
    font-size: 17px;
    padding: 10px;
}

/* Additional button styling */

#additional-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding-top: 20px;
    position: fixed;
    bottom: 5rem;
    left: 0;
    width: 100%;
}

#additional-buttons button {
    width: 27%;
    border-radius: 25px;
    font-family: var(--primary-font);
    margin-left: 4px;
    margin-right: 4px;
    font-size: 12px;
    padding: 10px;
}
/* Colour change to indicate correct answer */

.correct-answer {
    background-color: green;
    color: white;
}

/*Colour change to indicate incorrect answer */

.wrong-answer {
    background-color: red;
    color: white;
}
/* Media Queries */
/* Media Query for phone screens - 360px and up */
@media screen and (min-width:360px) {

    #additional-buttons {
    bottom: 2rem;
    }
}

/* Media Query for phone screens - 375px and up */
@media screen and (min-width:375px) {

/* Opening screen styling */

#opening-instructions h1 {
    font-size: 45px;
}

#opening-instructions p {
    font-size: 15px;
}

#opening-instructions h2 {
    font-size: 35px;
}

#pick-button {
    width: 70%;
    font-size: 15px;
}

/* Choose era styling */

#pick-era-wrapper {
    gap: 4px;
    max-height: 477px;
}

#pick-era {
    padding-bottom: 3%
}

#pick-era button {
    font-size: 11px;
    width: 69%;
}

#pick-era h1 {
    font-size: 33px;
    margin-top: -8px;
}

/* Quiz space styling */

#quiz-space {
    margin-top: 0rem;
}

#question {
    font-size: 17px;
}

#answer-space button {
    width: 85%;
    font-size: 15px;
}

/* Final score styling */

#final-score-space {
    padding-bottom: 2rem;
}

#final-score {
    font-size: 15px;
}

/* Additional buttons styling */

#additional-buttons {
    bottom: 1.75rem;
}

#additional-buttons button {
    width: 28%;
    font-size: 14px;
}
}

/* Media query for larger phone screens - 400px and up */
@media screen and (min-width:400px) {
    #additional-buttons {
    bottom: 3rem;
    }

}

/* Media query for larger phone screens - 430px and up */
@media screen and (min-width:430px) {

    /* Opening screen styling */

    #opening-instructions h1 {
        font-size: 50px;
    }

    #opening-instructions p {
        font-size: 18px;
    }

    #opening-instructions h2 {
        font-size: 40px
    }

    #pick-button {
        font-size: 18px;
    }

    /* Choose era styling */

    #pick-era-wrapper {
        padding-bottom: 10px;
    }

    #pick-era {
        padding-top: 15px;
    }

    #pick-era h1 {
        font-size: 45px;
    }

    /* Quiz section styling */

    #question {
        font-size: 19px;
    }

    #answer-space button {
        font-size: 18px;
    }

    /* Final score styling */

     #final-score {
        font-size: 18px;
    }

    /* Additional button stylign */

    #additional-buttons button {
        width: 27%;
    }
}

/* Media query for tablet screens - 768px and up */
@media screen and (min-width:768px) {

    /* Logo styling */

    #logo {
        font-size: 45px;
    }

    /* Opening page styling */

    #website-opener h1 {
        font-size: 30px;
    }

    #start-button {
        padding: 15px;
    }

    /* Imstructions page styling */

    #opening-instructions h1 {
        font-size: 69px;
    }

    #opening-instructions p {
        font-size: 23px;
    }

    #opening-instructions h2 {
        font-size: 55px;
    }

    #pick-button {
        font-size: 21px;
        width: 60%;
        padding: 15px;
    }

    /* Choose era section styling */

    #pick-era-wrapper {
        max-height: 100%;
    }

    #pick-era h1 {
        font-size: 50px;
    }

    #pick-era button {
        font-size: 19px;
        padding: 15px;
    }

    /* Quiz area styling */

    #question {
        font-size: 23px;
    }

    #answer-space button {
        font-size: 21px;
        width: 55%; 
        padding: 15px;
    }

    #score {
        font-size: 35px;
    }

    /* Final score styling */

    #final-score {
        font-size: 20px;
    }

    /* Additional buttons styling */

    #additional-buttons button {
        padding: 15px;
        font-size: 21px;
    }
}

/* Media query for wider tablet screens - 820px and up */
@media screen and (min-width:820px) {

    /* Logo styling */

    #logo {
        font-size: 55px;
    }

    /* Website opener styling */

    #website-opener h1 {
        font-size: 40px;
    }

    #website-opener h2 {
        font-size: 32px;
    }

    #start-button {
        width: 60%;
        font-size: 32px;
    }

    /* Instructions page styling */

    #opening-instructions{
        width: 75%;
        padding: 29px;
    }

    #opening-instructions h1 {
        font-size: 75px;
    }

    #opening-instructions p {
        font-size: 25px;
    }

    #opening-instructions h2 {
        font-size: 65px;
    }

    /* Choose era styling */

    #pick-button {
        font-size: 24px;
        width: 60%;
    }

    #pick-era-wrapper {
        gap: 10px;
    }

    #pick-era {
        width: 75%;
        font-size: 25px;
    }

    #pick-era h1 {
        font-size: 60px;
        margin-bottom: 27px;
    }

    #pick-era button {
        font-size: 25px;
    }

    /* Quiz space styling */

    #quiz-space {
        width: 75%;
    }

    #show {
        font-size: 95px;
    }

    #question {
        font-size: 35px;
    }

    #answer-space button {
        font-size: 28px;
        width: 68%;
    }

    #score {
        font-size: 50px
    }

    /* Final score styling */

    #final-score-space {
        width: 75%
    }

    #final-score {
        font-size: 25px;
    }

    /* Additional button styling */

    #additional-buttons {
        bottom: 2rem;
    }

    #additional-buttons button {
        font-size: 28px;
    }
}

/* Media Query for XL tablets - 1024px and up */
@media screen and (min-width:1024px) {

    /* Logo styling */
    #logo {
        font-size: 70px;
        padding-top: 20px;
    }

    /* Opening Instructions styling */

    #opening-instructions h1 {
        font-size: 77px;
    }

    #opening-instructions p {
        font-size: 30px;
    }

    #opening-instructions h2 {
        font-size: 67px;
    }

    #pick-button {
        font-size: 30px;
        width: 44%;
    }

    /* Choose era styling */

    #pick-era h1 {
        font-size: 67px;
    }

    #pick-era-button {
        font-size: 30px;
        width: 48%;
    }

    /* Quiz space styling */

    #show {
        font-size: 67px;
    }

    #question {
        font-size: 30px;
    }

    #answer-space-button {
        font-size: 30px;
        width: 42%;
    }
}


/* Media Query for desktops - 1280px and up */
@media screen and (min-width:1280px) {

    /* Instructions styling */

    #opening-instructions h1 {
        font-size: 62px;
    }

    #opening-instructions p {
        font-size: 21px;
    }

    #opening-instructions h2 {
        font-size: 53px;
    }

    #pick-button {
        font-size: 21px;
        width: 39%;
    }

    /* Choose era styling */

    #pick-era-wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;;
        justify-content: center;
    }

    #pick-era h1 {
        font-size: 63px;
    }

    #pick-era {
        width: 75%;
        padding-top: 24px;
    }

    #pick-era button {
        width: 43%;
        font-size: 21px;
    }

    /* Quiz area styling */

    #show {
        font-size: 63px;
    }

    #question {
        font-size: 28px;
    }

    #answer-space {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 14px
    }

    #answer-space button {
        font-size: 21px;
        width: 45%;
    }

    #score {
        font-size: 43px;
    }

    /* Final score styling */

    #final-score-space {
        padding: 5px;
    }

    #final-score {
        font-size: 21px;
    }

    /* Additional buttons styling */
    #additional-buttons {
        bottom: 4rem;
    }

    #additional-buttons button {
        font-size: 25px;
        width: 18%;
    }

}
/* Media Query for xl desktops - 1440px and up */
@media screen and (min-width:1440px){

    /* Instructions styling */
    
    #opening-instructions h1 {
        font-size: 64px;
    }

    #opening-instructions p {
        font-size: 24px;
    }

    #opening-instructions h2 {
        font-size: 57px;
    }

    #pick-button {
        font-size: 24px;
    }

    /* Choose era styling */

    #pick-era h1 {
        font-size: 57px;
    }

    #pick-era button {
        width: 43%;
        font-size: 24px;
    }

    /* Quiz area styling */

    #show {
        font-size: 70px;
    }

    #question {
        font-size: 30px;
        padding: 12px;
    }

    #final-score {
        font-size: 25px;
    }
}
