/* Fonts */
/* Primary Font - Google Fonts Manrope */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* Secondary Font - Google Fonts Licorice */
@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');


/* Global Variables*/
:root {
    --primary-font: "Manrope", sans-serif;
    --secondary-font: "Licorice", cursive;
}

/* General Styling Rules */
body {
    background-image: url(../images/eras-tour-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-color: #f4cb8d;
    font-family: var(--primary-font);
    padding-top: 10px;
}

.disappear {
    display: none !important;
}

.landing-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#website-opener {
    background-color: #f4cb8d;
    border: 2px solid #f4cb8d;
    padding: 2rem;
    border-radius: 25px;
    opacity: 0.9;
    text-align: center;
    max-width: 500px;
    margin: 0;
    width: 75%;
}

#logo {
    text-align: center;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 3rem;
    padding-right: 2rem;

}

#nts {
    font-family: var(--primary-font);
    font-size: 21px;
    font-weight: bold;
    padding-left: 14px;
}

#tv {
    font-family: var(--secondary-font);
    font-size: 47px;
    font-weight: bold;
}

#welcome-line-1 {
    text-align: center;
    margin-top: -15px;
    font-size: 10px;
}

#welcome-line-2 {
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 24px;
    margin-top: -64px;
    font-weight: bold;
}

#website-opener h3 {
    margin-top: -30px;
    font-weight: normal;
}

#start {
    text-align: center;
}

#start-button {
    text-align: center;
    width: 75%;
    padding: 10px;
    border-radius: 25px;
    font-family: var(--primary-font);

}
#opening-instructions {
    background-color: #f4cb8d;
    text-align: center; 
    border: 2px solid #f4cb8d;
    padding-bottom: 5%;
    padding-top: 5%;
    margin-top: 1.5rem;
    opacity: 80%;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

#opening-instructions h1 {
    font-family: var(--secondary-font);
    font-size: 40px;
    margin-top: -5px;
    margin-bottom: -11px;
}

#opening-instructions p {
    font-size: 23px;
}

#opening-instructions h2 {
    font-family: var(--secondary-font);
    font-size: 33px;
    margin-top: 10px;
    margin-bottom: -10px;
}

#pick-button {
    width: 75%;
    padding: 10px;
    border-radius: 25px;
    font-family: var(--primary-font);
    font-size: 15px;
}

#pick-era {
    background-color: #f4cb8d;
    text-align: center; 
    border: 2px solid #f4cb8d;
    padding-top: 5%;
    padding-bottom: 5%;
    opacity: 80%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

#pick-era h2 {
    font-family: var(--secondary-font);
    font-size: 33px;
    margin-top: 10px;
    margin-bottom: -5px;
}

#pick-era button {
    width: 85%;
    padding: 10px;
    border-radius: 25px;
    font-family: var(--primary-font);
    font-size: 15px;
}

/* Era title Styling */
#show {
    padding-top: 1.5rem;
    font-family: var(--secondary-font);
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: -5px;
    font-weight: bold;
}

/* Question Area Styling */
#quiz-space {
    text-align: center;
    background-color: #f4cb8d;
    border: 2px solid #f4cb8d;
    opacity: 80%;
    margin-top: 2.5rem;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
}

#question {
    font-size: 1.25rem;
    padding-left: 21px;
    padding-right: 21px;
}

#answer-space {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#answer-space button {
    width: 75%;
    padding: 10px;
    border-radius: 25px;
    font-family: var(--primary-font);
}

#score {
    text-align: center;
    background-color: #f4cb8d;
    opacity: 80%;
    margin-bottom: 3.5rem;
    padding-top: 1rem;
    font-weight: bold;
}

/* Final Score area styling */

 #final-score-space {
    text-align: center;
    background-color: #f4cb8d;
    border: 2px solid #f4cb8d;
    opacity: 80%;
    margin-top: 2.5rem;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2.5rem;
}

#final-score {
    font-family: var(--primary-font);
    font-size: 1.5rem;
    padding: 1rem;
}

#additional-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding-top: 20px;
}

#additional-buttons button {
    width: 30%;
    padding: 10px;
    border-radius: 25px;
    font-family: var(--primary-font);
    margin-left: 4px;
    margin-right: 4px;
}
/* Colour change to indicate correct answer */

.correct-answer {
    background-color: green;
    color: white;
}

/*Colour change to indicate incorrect answer */

.wrong-answer {
    background-color: red;
    color: white;
}